<md-content class="md-padding" layout="column" flex="80" ng-init="tab1 = true">
  
  <md-card>
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Putovanje" ng-click="tab1 = true; tab2 = false; tab3 = false"></md-tab>
          <md-tab label="Putnici" ng-click="tab2 = true; tab1 = false; tab3 = false"></md-tab>
          <md-tab label="Sumarno" ng-click="tab3 = true; tab1 = false; tab2 = false"></md-tab>
        </md-tabs>
      </md-content>
    </div>

    <md-content>
        <div ng-show="tab1" ng-include src="'app/components/sale/sale-wizard-part1.html'"></div>
        <div ng-show="tab2" ng-include src="'app/components/sale/sale-wizard-part2.html'"></div>
        <div ng-show="tab3" ng-include src="'app/components/sale/sale-wizard-part3.html'"></div>
    </md-content>
  <md-card>

</md-content>

<style>
  .md-datepicker-calendar, .md-datepicker-input-mask-opaque{
    background: rgb(255,255,255);
  }

  .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
    background: rgb(33,150,243);
    color: rgb(255,255,255);
    border-color: transparent;
  }
  .md-calendar-date-selection-indicator:hover{
    background: rgb(224,224,224);
  }
  .md-calendar-day-header{
    background: rgb(224,224,224);
    color: rgba(0,0,0,0.87);
  }

  .md-calendar-date-disabled, .md-calendar-month-label-disabled{
    color: rgba(0,0,0,0.26);
  }

</style>