<!-- Pocetak forme za osnovne podatke -->
<br/>
<form name="slc.saleWizardPart1" novalidate  ng-submit="slc.getInsurancesDetails()">
    <fieldset style="border: 2px double rgb(3,169,244)" layout-padding>
     
      <legend style="color:rgb(3,169,244); font-weight: bold">Osnovno</legend>
       
       <div layout-gt-sm="row">
          <section layout="column" >
            <label flex-offset="15">Od:</label>
            <md-datepicker name="travel_start_date" ng-model="slc.insurance.travel.start_date" id="datapicker_travel_start"  md-placeholder="Početak"
             md-min-date="slc.travelStartDateMin" ng-required="true"></md-datepicker>   
             <md-tooltip md-direction="right">
              Odaberite datum početka putovanja.
            </md-tooltip>  
            <div flex-offset="15" ng-messages="slc.saleWizardPart1.travel_start_date.$error" ng-show="slc.saleWizardPart1.travel_start_date.$touched || slc.invalidForm">
              <div ng-message="required" style="font-size: 12px; color: rgb(244,67,54)">
                Obavezan datum početka.
              </div>
            </div>
          </section>
  
          <section layout="column" >
            <label flex-offset="15">Do:</label>
            <md-datepicker name="travel_end_date" ng-model="slc.insurance.travel.end_date" id="datapicker_travel_end" md-placeholder="Kraj"
            md-min-date="slc.travelEndDateMin" ng-required="true"></md-datepicker>
            <md-tooltip md-direction="right">
              Odaberite datum kraja putovanja.
            </md-tooltip> 
            <div flex-offset="15" ng-messages="slc.saleWizardPart1.travel_end_date.$error" ng-show="slc.saleWizardPart1.travel_end_date.$touched || slc.invalidForm">
              <div ng-message="required" style="font-size: 12px; color: rgb(244,67,54)">
                Obavezan datum kraja.
              </div>
            </div>        
          </section>
          
        </div>
        <br/>
       <div layout-gt-sm="row">
          <div>
            <md-checkbox aria-label="Checkbox 1"  class="md-primary" ng-model="activity" flex-gt-sm>
                Bavljenje sportom
            </md-checkbox>
            <md-tooltip md-direction="right">
               Da li ćete se baviti sportom?
            </md-tooltip>
          </div>
          <div flex-offset="3">
            <md-input-container layout="row" layout-align="left center" ng-show="activity = !activity" flex-gt-sm>
              <label>Sport</label>
              <md-select name="travel_sport" ng-model="slc.insurance.travel.sport_id" ng-required="activity" ng-required="true"> 
                <md-option ng-repeat="sport in slc.data_init.sports" ng-value="sport.id">{{sport.name}}</md-option>
              </md-select>
              <div ng-messages="slc.saleWizardPart1.travel_sport.$error" ng-show="slc.saleWizardPart1.travel_sport.$touched || slc.invalidForm">
                <div ng-message="required">
                  Obavezan sport.
                </div>
              </div>
            </md-input-container>
          </div>
      </div>

      <div layout-gt-sm="row">
        <md-input-container  flex-gt-sm>
          <label>Region</label>
          <md-select name="region" ng-model="slc.insurance.travel.region_id" ng-required="true">
            <md-option ng-repeat="region in slc.data_init.regions" ng-value="region.id">{{region.name}}</md-option>
          </md-select>
          <div ng-messages="slc.saleWizardPart1.region.$error" ng-show="slc.saleWizardPart1.region.$touched || slc.invalidForm">
            <div ng-message="required">
              Obavezan region
            </div>
          </div>
        </md-input-container>

        <md-input-container flex-gt-sm>
          <label>Broj osoba</label>
          <input name="number_of_people" ng-model="slc.number_of_people" type="number" min="1" ng-required="true">
          <div ng-messages="slc.saleWizardPart1.number_of_people.$error" ng-show="slc.saleWizardPart1.number_of_people.$touched || slc.invalidForm">
            <div ng-message="required">
              Obavezan unos broja osoba
            </div>
          </div>
        </md-input-container>

        <md-input-container flex-gt-sm>
          <label>Max. iznos osiguranja</label>
          <md-select name="max_value" ng-model="slc.insurance.travel.max_value_id" ng-required="true">
            <md-option ng-repeat="max_value in slc.data_init.max_values" ng-value="max_value.id">{{max_value.name}}</md-option>
          </md-select>
          <div ng-messages="slc.saleWizardPart1.max_value.$error" ng-show="slc.saleWizardPart1max_value.$touched || slc.invalidForm">
            <div ng-message="required">
              Obavezan max iznos
            </div>
          </div>
        </md-input-container>
    </div>

     <div layout-gt-sm="row">
        <md-input-container flex-gt-sm>
          <label>Ime vlasnika </label>
          <input name="owner_first_name" ng-model="slc.insurance.travel.owner.first_name" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" aria-invalid="false" ng-required="true" ng-pattern="/^[a-zA-Z]+$/">
          <div ng-messages="slc.saleWizardPart1.owner_first_name.$error" ng-show="slc.saleWizardPart1.owner_first_name.$touched || slc.invalidForm">
            <div ng-message="required">
              Obavezno ime vlasnika
            </div>
            <div ng-message="pattern">
              Uneti su nedozvoljeni karakteri
            </div>
          </div>
        </md-input-container>

        <md-input-container flex-gt-sm>
          <label>Prezime vlasnika</label>
          <input name="owner_last_name" ng-model="slc.insurance.travel.owner.last_name" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched"aria-invalid="false" ng-pattern="/^[a-zA-Z]+$/" ng-required="true">
          <div ng-messages="slc.saleWizardPart1.owner_last_name.$error" ng-show="slc.saleWizardPart1.owner_last_name.$touched || slc.invalidForm">
            <div ng-message="required">
              Obavezno prezime vlasnika
            </div>
            <div ng-message="pattern">
              Uneti su nedozvoljeni karakteri
            </div>
          </div>
        </md-input-container>

        <md-input-container flex-gt-sm>
          <label>Email vlasnika</label>
          <input name="owner_email" ng-model="slc.insurance.travel.owner.email" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" aria-invalid="false" required="" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/">
          <div ng-messages="slc.saleWizardPart1.owner_email.$error" ng-show="slc.saleWizardPart1.owner_email.$touched || slc.invalidForm">
            <div ng-message="required">
              Obavezan email vlasnika
            </div>
            <div ng-message="pattern">
              Neodgovarajući oblik email adrese
            </div>
          </div>
        </md-input-container>
    </div>

    <fieldset style="border: 1px dotted rgb(3,169,244)">
      <legend style="color:rgb(3,169,244)">Dodatno</legend>
      <div>
        <div flex="15">
          <md-checkbox aria-label="Checkbox 1"  class="md-primary" ng-model="slc.flat" ng-change="slc.checkFlat()">
              Stambeno
          </md-checkbox>
          <md-tooltip md-direction="right">
             Da li želite i osiguranje stana/kuće dok ste na putu?
          </md-tooltip>
        </div>
        <div flex="15">
          <md-checkbox aria-label="Checkbox 1"  class="md-primary" ng-model="slc.car" ng-change="slc.checkCar()">
              Pomoć na putu
          </md-checkbox>
          <md-tooltip md-direction="right">
             Da li želite i osiguranje "Pomoć na putu" dok ste na putu?
          </md-tooltip>
        </div>
      </div>
     </fieldset>

  </fieldset>
<!-- Kraj forme za osnovne podatke -->
<br/>
<!-- Pocetak forme za stan -->
  <fieldset style="border: 1px solid rgb(255, 98, 21)" ng-show="slc.flat = !slc.flat" layout-padding>
    <legend style="color:rgb(255, 98, 21)">Stambeno</legend>
    <div layout-gt-sm="row">
      <section layout="column" flex-gt-sm>
            <div flex="60" flex-offset="3">
              <br/>
               <div layout-gt-sm="row">
                  <section layout="column" flex-gt-sm>
                    <label flex-offset="15">Od:</label>
                    <md-datepicker name="home_start_date" ng-model="slc.insurance.home.start_date" id="datapicker_travel_start"  md-placeholder="Početak"
                     md-min-date="slc.insurance.travel.start_date" md-max-date="slc.homeStartDateMax" ng-required="slc.flat"></md-datepicker>   
                     <md-tooltip md-direction="right">
                      Odaberite datum od kad želite da osigurate stan/kuću.
                    </md-tooltip>     
                    <div flex-offset="15" ng-messages="slc.saleWizardPart1.home_start_date.$error" ng-show="slc.saleWizardPart1.home_start_date.$touched || slc.invalidForm">
                      <div ng-message="required" style="font-size: 12px; color: rgb(244,67,54)">
                        Obavezan datum početka.
                      </div>
                    </div> 
                  </section>
                   
                  <section layout="column" flex-gt-sm>
                    <label flex-offset="15">Do:</label>
                    <md-datepicker name="home_end_date" ng-model="slc.insurance.home.end_date" id="datapicker_travel_start"  md-placeholder="Kraj"
                    md-min-date="slc.homeEndDateMin" md-max-date="slc.insurance.travel.end_date" ng-required="slc.flat"></md-datepicker>
                    <md-tooltip md-direction="right">
                      Odaberite datum do kad želite da osigurate stan/kuću.
                    </md-tooltip>
                    <div flex-offset="15" ng-messages="slc.saleWizardPart1.home_end_date.$error" ng-show="slc.saleWizardPart1.home_end_date.$touched || slc.invalidForm">
                      <div ng-message="required" style="font-size: 12px; color: rgb(244,67,54)">
                        Obavezan datum kraja.
                      </div>
                    </div>          
                  </section>

                </div>
        </section>

        <section layout="column" flex-gt-sm>
          <div flex="20" flex-offset="20">
            <fieldset style="border: 1px dotted rgb(255, 98, 21)">
                <legend style="color:rgb(255, 98, 21)">Podaci o stanu</legend>
                 <md-input-container layout="column" layout-align="left center">
                  <label for="input_203">Površina stana</label>
                  <input name="floor_area" ng-model="slc.insurance.home.floor_area" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-pattern="/^\d+(.\d+){0,1}$/" ng-required="slc.flat">
                  <div ng-messages="slc.saleWizardPart1.floor_area.$error" ng-show="slc.saleWizardPart1.floor_area.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezan unos površine stana
                    </div>
                    <div ng-message="pattern">
                      Niste upisali validan broj
                    </div>
                  </div>
                </md-input-container>
                 <md-input-container layout="column" layout-align="left center">
                  <label for="input_203">Starost stana</label>
                  <input name="flat_age" ng-model="slc.insurance.home.flat_age" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-pattern="/^\d+(.\d+){0,1}$/" ng-required="slc.flat">
                  <div ng-messages="slc.saleWizardPart1.flat_age.$error" ng-show="slc.saleWizardPart1.flat_age.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezan unos starosti stana
                    </div>
                    <div ng-message="pattern">
                      Niste upisali validan broj
                    </div>
                  </div>
                </md-input-container>
                 <md-input-container layout="column" layout-align="left center">
                  <label for="input_203">Procenjene vrednosti stana</label>
                  <input name="est_value" ng-model="slc.insurance.home.est_value" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-pattern="/^\d+(.\d+){0,1}$/" ng-required="slc.flat">
                  <div ng-messages="slc.saleWizardPart1.est_value.$error" ng-show="slc.saleWizardPart1.est_value.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezan unos procenjene vrednosti stana
                    </div>
                    <div ng-message="pattern">
                      Niste upisali validan broj
                    </div>
                  </div>
                </md-input-container>
                <div>
                  
            <label>Izaberite od čega osiguravate stan/kuću:</label>
               <md-input-container>
                  <span ng-repeat="cause in slc.data_init.casualties" >
                     <md-checkbox name="casualty" ng-model="slc.selectedCause[cause.id]" ng-value="{{cause.id}}" aria-label="Checkbox 1" class="md-primary" ng-required="!slc.someSelected(slc.selectedCause)">
                        {{cause.name}}
                     </md-checkbox>
                  </span>
                  <div ng-messages="slc.saleWizardPart1.casualty.$error" ng-show="slc.invalidForm">
                    <div ng-message="required">Potrebno je da izaberete jedan ili više uzroka osiguranja.</div>   
                  </div>
               </md-input-container>
            </div>
          </fieldset>
        </div>
      </section>
   
    <section layout="column" flex-gt-sm>
      <div flex-offset="10">
        <fieldset style="border: 1px dotted rgb(255, 98, 21)">
            <legend style="color:rgb(255, 98, 21)">Podaci o vlasniku</legend>
              <md-input-container layout="column" layout-align="left center">
                  <label for="input_203">Ime</label>
                  <input name="home_owner_first_name" ng-model="slc.insurance.home.owner.first_name" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[a-zA-Z]+$/" ng-required="slc.flat">
                  <div ng-messages="slc.saleWizardPart1.home_owner_first_name.$error" ng-show="slc.saleWizardPart1.home_owner_first_name.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezno ime vlasnika.
                    </div>
                    <div ng-message="pattern">
                      Uneti su nedozvoljeni karakteri
                    </div>
                  </div>
                </md-input-container>
                 <md-input-container layout="column" layout-align="left center">
                  <label for="input_203">Prezime</label>
                  <input name="home_owner_last_name" ng-model="slc.insurance.home.owner.last_name" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[a-zA-Z]+$/" ng-required="slc.flat">
                  <div ng-messages="slc.saleWizardPart1.home_owner_last_name.$error" ng-show="slc.saleWizardPart1.home_owner_last_name.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezno prezime vlasnika.
                    </div>
                    <div ng-message="pattern">
                      Uneti su nedozvoljeni karakteri
                    </div>
                  </div>
                </md-input-container>
                 <md-input-container layout="column" layout-align="left center">
                  <label for="input_203">Jmbg</label>
                  <input name="home_owner_jmbg" ng-model="slc.insurance.home.owner.jmbg" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="13" maxlength="13" ng-required="slc.flat">
                  <div ng-messages="slc.saleWizardPart1.home_owner_jmbg.$error" ng-show="slc.saleWizardPart1.home_owner_jmbg.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezan jmbg vlasnika!
                    </div>
                    <div ng-message="minlength, maxlength">
                      JMBG se sastoji od 13 karaktera
                  </div>
                </div>
                </md-input-container>
                <md-input-container>
                  <label>Mesto stanovanja</label>
                  <md-select name="home_owner_city" ng-model="slc.insurance.home.owner.city_id" ng-required="slc.flat">
                    <md-option ng-repeat="city in slc.data_init.cities" ng-value="city.id">{{city.name}}</md-option>
                  </md-select>
                  <div ng-messages="slc.saleWizardPart1.home_owner_city.$error" ng-show="slc.saleWizardPart1.home_owner_city.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezno mesto putovanja vlasnika!
                    </div>
                  </div>
                </md-input-container>
                 <md-input-container layout="column" layout-align="left center">
                  <label for="input_203">Ulica i broj</label>
                  <input ng-model="slc.insurance.home.owner.address" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[a-zA-Z | 0-9]+$/"ng-required="slc.flat">
                  <div ng-messages="slc.saleWizardPart1.home_owner_city.$error" ng-show="slc.saleWizardPart1.home_owner_city.$touched || slc.invalidForm">
                    <div ng-message="required">
                      Obavezan unos ulice i broja vlasnika
                    </div>
                    <div ng-message="pattern">
                      Uneti su nedozvoljeni karakteri
                    </div>
                  </div>
                </md-input-container>
          </fieldset>
      </div>
    </section>
  </div>
  </fieldset>
<!-- Kraj forme za stan -->
<br/>
<!-- Pocetak forme za auto -->
  <fieldset style="border: 1px solid rgb(255, 98, 21)" ng-show="slc.car = !slc.car">
    <legend  style="color:rgb(255, 98, 21)">Pomoć na putu</legend>
    <br/>

   <div layout-gt-sm="row">
      <section layout="column" flex-gt-sm>

      <div flex="80" flex-offset="3">
        <div layout-gt-sm="row">
            <section layout="column" flex-gt-sm>
              <label flex-offset="15">Od:</label>
              <md-datepicker name="vehicle_start_date" ng-model="slc.insurance.vehicle.start_date" id="datapicker_travel_start" md-placeholder="Početak"
               md-min-date="slc.insurance.travel.start_date" md-max-date="slc.vehicleStartDateMax" ng-required="slc.car"></md-datepicker>   
               <md-tooltip md-direction="right">
                Odaberite datum od kad želite osiguranje "Pomoć na putu".
              </md-tooltip>
              <div flex-offset="15" ng-messages="slc.saleWizardPart1.vehicle_start_date.$error" ng-show="slc.saleWizardPart1.vehicle_start_date.$touched || slc.invalidForm">
                <div ng-message="required" style="font-size: 12px; color: rgb(244,67,54)">
                  Obavezan datum početka.
                </div>
              </div>      
            </section>

            <section layout="column" flex-gt-sm>
              <label flex-offset="15">Do:</label>
              <md-datepicker name="vehicle_end_date" ng-model="slc.insurance.vehicle.end_date" id="datapicker_travel_start" md-placeholder="Kraj"
              md-min-date="slc.vehicleEndDateMin" md-max-date="slc.insurance.travel.end_date" ng-required="slc.car"></md-datepicker>
              <md-tooltip md-direction="right">
                Odaberite datum do kad želite osiguranje "Pomoć na putu".
              </md-tooltip>   
              <div flex-offset="15" ng-messages="slc.saleWizardPart1.vehicle_end_date.$error" ng-show="slc.saleWizardPart1.vehicle_end_date.$touched || slc.invalidForm">
                <div ng-message="required" style="font-size: 12px; color: rgb(244,67,54)">
                  Obavezan datum kraja.
                </div>
              </div>      
            </section>
        </div>
        <br/>
        <div layout-gt-sm="column">
            <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="slc.towing">
                Šlepovanje do određene kilometraže
                <md-tooltip md-direction="right">
                   Odabirom ove stavke uključujete u osiguranje i šlepovanje do izabrane kilometraže.
                </md-tooltip>
            </md-checkbox>
            <md-input-container layout="column" layout-align="left center" ng-show="slc.towing = !slc.towing">
              <label>Šlepovanje</label>
              <md-select ng-model="slc.insurance.vehicle.towing_id">
                <md-option ng-repeat="towing in slc.data_init.towing" ng-value="towing.id">{{towing.name}}</md-option>
              </md-select>
            </md-input-container>

            <md-checkbox aria-label="Checkbox 1"  class="md-primary" ng-model="slc.repair">
                Popravka do određene cene
                <md-tooltip md-direction="right">
                   Odabirom ove stavke uključujete u osiguranje i popravku do izabrane iznosa.
                </md-tooltip>
            </md-checkbox>
            <md-input-container layout="column" layout-align="left center" ng-show="slc.repair = !slc.repair">
              <label>Popravka</label>
              <md-select ng-model="slc.insurance.vehicle.repair_id">
                <md-option ng-repeat="repair in slc.data_init.repair" ng-value="repair.id">{{repair.name}}</md-option>
              </md-select>
            </md-input-container>

            <md-checkbox aria-label="Checkbox 1"  class="md-primary" ng-model="slc.accommodation">
                Smeštaj u hotelu do određenog broja dana
                <md-tooltip md-direction="right">
                   Odabirom ove stavke uključujete u osiguranje i smeštaj u trajanju do izabranog broja dana.
                </md-tooltip>
            </md-checkbox>
            <md-input-container layout="column" layout-align="left center" ng-show="slc.accommodation = !slc.accommodation">
              <label>Smeštaj</label>
              <md-select ng-model="slc.insurance.vehicle.accomodation_id">
                <md-option ng-repeat="accomodation in slc.data_init.accomodation" ng-value="accomodation.id">{{accomodation.name}}</md-option>
              </md-select>
            </md-input-container>

            <md-checkbox aria-label="Checkbox 1"  class="md-primary" ng-model="slc.alternative">
                Alternativni prevoz
                <md-tooltip md-direction="right">
                   Odabirom ove stavke uključujete u osiguranje i željeni alternativni prevoz u slučaju nezgode na putu.
                 </md-tooltip>
            </md-checkbox>
            <md-input-container layout="column" layout-align="left center" ng-show="slc.alternative = !slc.alternative">
              <label> Alternativni prevoz</label>
              <md-select ng-model="slc.insurance.vehicle.alternative_id">
                <md-option ng-repeat="alternative in slc.data_init.alternative" ng-value="alternative.id">{{alternative.name}}</md-option>
              </md-select>
            </md-input-container>

            <div style="font-size: 12px; color: rgb(244,67,54); font-family: Roboto, 'Helvetica Neue', sans-serif;" ng-show="!slc.towing  && !slc.repair && !slc.accommodation && !slc.alternative && slc.invalidForm">
               Potrebno je da izaberete bar jednu od stavki.
         </div>

          </div>
       </div>
     </section>

     <section layout="column" flex-gt-sm>
        <div flex="20" flex-offset="20">
           <fieldset style="border: 1px dotted rgb(255, 98, 21)">
            <legend style="color:rgb(255, 98, 21)">Podaci o vozilu</legend>
            <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Marka</label>
              <md-select name="vehicle_brand" ng-model="slc.insurance.vehicle.car.brand_id" ng-required="slc.car">
                <md-option ng-repeat="brand in slc.data_init.brands" ng-value="brand.id">{{brand.name}}</md-option>
              </md-select>
              <div ng-messages="slc.saleWizardPart1.vehicle_brand.$error" ng-show="slc.saleWizardPart1.vehicle_brand.$touched || slc.invalidForm">
               <div ng-message="required">
                  Obavezna marka auta.
                </div>
              </div>
            </md-input-container>
            <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Tip</label>
              <input name="vehicle_type" ng-model="slc.insurance.vehicle.car.type" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[a-zA-Z]+$/" ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_type.$error" ng-show="slc.saleWizardPart1.vehicle_type.$touched || slc.invalidForm">
               <div ng-message="required">
                  Obavezan tip auta.
                </div>
                <div ng-message="pattern">
                  Uneti su nedozvoljeni karakteri
                </div>
              </div>
            </md-input-container>
            <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Godina proizvodnje</label>
              <input name="vehicle_year" ng-model="slc.insurance.vehicle.car.man_year" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="4" maxlength="4" ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_year.$error" ng-show="slc.saleWizardPart1.vehicle_year.$touched || slc.invalidForm">
               <div ng-message="required">
                  Obavezna godina proizvodnje.
                </div>
                <div ng-message="minlength, maxlength">
                  Godina se sastoji od 4 broja.
                </div>
              </div>
            </md-input-container>
             <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Broj reg. tablice</label>
              <input name="vehicle_reg_num" ng-model="slc.insurance.vehicle.car.reg_num" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[A-Z|a-z]{2}\d{3}-[A-Z|a-z]{2}$/" placeholder="AA000-AA" ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_reg_num.$error" ng-show="slc.saleWizardPart1.vehicle_reg_num.$touched || slc.invalidForm">
               <div ng-message="required">
                  Obavezna registarska tablica.
                </div>
                <div ng-message="pattern">
                  Neodgovarajući oblik registarske tablice
                </div>
              </div>
            </md-input-container>
            <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Broj šasije</label>
              <input name="vehicle_chassis_num" ng-model="slc.insurance.vehicle.car.chassis_num" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_chassis_num.$error" ng-show="slc.saleWizardPart1.vehicle_chassis_num.$touched || slc.invalidForm">
               <div ng-message="required">
                  Obavezan br sasije
                </div>
              </div>
            </md-input-container>
          </fieldset>
        </div>
      </section>
      
      <section layout="column" flex-gt-sm>
        <div flex-offset="10">
          <fieldset style="border: 1px dotted rgb(255, 98, 21)">
            <legend style="color:rgb(255, 98, 21)">Podaci o vlasniku</legend>
            <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Ime</label>
              <input name="vehicle_owner_first_name" ng-model="slc.insurance.vehicle.owner.first_name" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[a-zA-Z]+$/" ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_owner_first_name.$error" ng-show="slc.saleWizardPart1.vehicle_owner_first_name.$touched || slc.invalidForm">
                <div ng-message="required">
                  Obavezno ime vlasnika!
                </div>
                <div ng-message="pattern">
                  Uneti su nedozvoljeni karakteri
                </div>
              </div>
            </md-input-container>
            <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Prezime</label>
              <input name="vehicle_owner_last_name" ng-model="slc.insurance.vehicle.owner.last_name" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[a-zA-Z]+$/" ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_owner_last_name.$error" ng-show="slc.saleWizardPart1.vehicle_owner_last_name.$touched || slc.invalidForm">
                <div ng-message="required">
                  Obavezno prezime vlasnika!
                </div>
                <div ng-message="pattern">
                  Uneti su nedozvoljeni karakteri
                </div>
              </div>
            </md-input-container>
            <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Jmbg</label>
              <input name="vehicle_owner_jmbg" ng-model="slc.insurance.vehicle.owner.jmbg" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="13" maxlength="13" ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_owner_jmbg.$error" ng-show="slc.saleWizardPart1.vehicle_owner_jmbg.$touched || slc.invalidForm">
                <div ng-message="required">
                  Obavezan jmbg vlasnika!
                </div>
                <div ng-message="minlength, maxlength">
                  JMBG se sastoji od 13 karaktera
                </div>
              </div>
            </md-input-container>
             <md-input-container>
                <label>Mesto stanovanja</label>
                <md-select name="vehicle_owner_city" ng-model="slc.insurance.vehicle.owner.city_id" ng-required="slc.car">
                  <md-option ng-repeat="city in slc.data_init.cities" ng-value="city.id">{{city.name}}</md-option>
                </md-select>
                <div ng-messages="slc.saleWizardPart1.vehicle_owner_city.$error" ng-show="slc.saleWizardPart1.vehicle_owner_city.$touched || slc.invalidForm">
                  <div ng-message="required">
                    Obavezno mesto stanovanja vlasnika!
                  </div>
                </div>
              </md-input-container>
             <md-input-container layout="column" layout-align="left center">
              <label for="input_203">Ulica i broj</label>
              <input name="vehicle_owner_address" ng-model="slc.insurance.vehicle.owner.address" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-pattern="/^[a-zA-Z | 0-9]+$/"ng-required="slc.car">
              <div ng-messages="slc.saleWizardPart1.vehicle_owner_address.$error" ng-show="slc.saleWizardPart1.vehicle_owner_address.$touched || slc.invalidForm">
                <div ng-message="required">
                  Obavezan unos ulice i broja vlasnika.
                </div>
                <div ng-message="pattern">
                  Uneti su nedozvoljeni karakteri
                </div>
              </div>
            </md-input-container>
          </fieldset>
        </div>
      </div>
    </section>

  </fieldset>

<!-- Kraj forme za auto -->
<br/>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
   <md-button type="submit" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Nastavi</md-button> 
</section> 

</form>
