<md-content class="md-padding" layout="column" flex="100">
  
  <md-card>
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
          <md-tab id="tab1" label="Putovanje"></md-tab>
          <md-tab id="tab2" label="Putnici"></md-tab>
          <md-tab id="tab3" label="Sumarno"></md-tab>
        </md-tabs>
      </md-content>
    </div>

    <md-content>
        <div ui-view="wizard"></div>
    </md-content>
  <md-card>

</md-content>

<style>
  .md-datepicker-calendar, .md-datepicker-input-mask-opaque{
    background: rgb(255,255,255);
  }

  .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
    background: rgb(33,150,243);
    color: rgb(255,255,255);
    border-color: transparent;
  }
  .md-calendar-date-selection-indicator:hover{
    background: rgb(224,224,224);
  }
  .md-calendar-day-header{
    background: rgb(224,224,224);
    color: rgba(0,0,0,0.87);
  }

  .md-calendar-date-disabled, .md-calendar-month-label-disabled{
    color: rgba(0,0,0,0.26);
  }

</style>