
<div  ng-controller="InputController" layout="column" ng-cloak="" class="input">
 <section layout="row" flex="">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">{{'LABELS.ORDERTOTAL'|translate}}   <span flex=""></span> {{ (inc.transaction.amount |  number:2) + "€"}} </h1>
      </md-toolbar>
      <md-content layout-padding=""> 
          <h1>{{'LABELS.ORDERSUMMARY'|translate}}</h1>
        <p hide-md="" show-gt-md="" translate>
            
           {{'LABELS.ORDERSUMMARYTEXT'|translate}}
           
        </p>
         <img ng-src="./images/paymentimage.jpg" class="md-card-image" alt="Washed Out">
        <p hide-md="" show-gt-md="" >
            <img ng-src="./assets/images/angular-material/icons/ic_person_24px.svg" class="md-card-image" alt="Washed Out"> {{'LABELS.BUYERPROTECTION'|translate}}  Coa{{'LABELS.PAYMENT'|translate}}</p>
      </md-content>

    </md-sidenav>
   
  <md-content layout-padding="">
   <form name="inc.paymentForm" id="paymentForm"ng-class="{ 'has-error': inc.paymentForm.pan.$touched && inc.paymentForm.pan.$invalid }">
      <h1>{{'LABELS.PAYWITHCARD'|translate}} </h1>

    <md-input-container class="md-block"> 
      <label>{{'LABELS.CARDHOLDERNAME'|translate}} </label>
      <input required name="cardholderName" ng-model="inc.transaction.cardholdername"   ng-pattern="/^[a-z '-]+$/i" >
       <div ng-messages="inc.paymentForm.cardholderName.$error" ng-show="inc.paymentForm.cardholderName.$touched" >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
          <div ng-message="pattern"> {{'LABELS.LETTERS'|translate}}</div>
        </div>
    </md-input-container>

<!--   -->
    <md-input-container>
      <label> {{'LABELS.CARDHOLDERLASTNAME'|translate}}  </label>
      <input  required  ng-model="inc.transaction.cardholderlastname"  name="cardholderlastname" ng-pattern="/^[a-z '-]+$/i" >
      
       <div ng-messages="inc.paymentForm.cardholderlastname.$error" ng-show="inc.paymentForm.cardholderlastname.$touched" >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
          <div ng-message="pattern">{{'LABELS.LETTERS'|translate}}</div>
        </div>
    </md-input-container>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{'LABELS.CARDTYPE'|translate}}</label>
<input  required ng-model="inc.transaction.cardtype" name="cardtype" 
 ng-pattern="/^[a-z '-]+$/i" >
           <div ng-messages="inc.paymentForm.cardtype.$error"   ng-show="inc.paymentForm.cardtype.$touched" >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
          <div ng-message="pattern">This field should contain letters.</div>
         
        </div>
        </md-input-container>
        
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{'LABELS.CARDNUM'|translate}}</label>
          <input ng-model="inc.transaction.pan"  ng-pattern="/^[0-9]{16}$/"  name="cardnum"  required>

          <div ng-messages="inc.paymentForm.cardnum.$error" role="alert" ng-show="inc.paymentForm.cardnum.$touched"  >
            <div ng-message="required">{{'LABELS.REQUIRED'|translate}}. -->{{inc.transaction.pan.length}}</div>
            <div ng-message="pattern"> {{'LABELS.CARDNUMM'|translate}}</div>
        </div>

        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{'LABELS.SECCODE'|translate}}</label>
          <input ng-model="inc.transaction.cardSecCode" name="cardSecCode" ng-pattern="/^[0-9]{3}$/" required >

            <div ng-messages="inc.paymentForm.cardSecCode.$error" ng-show="inc.paymentForm.cardSecCode.$touched" >
              <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
              <div ng-message="pattern">{{'LABELS.SECCODEM'|translate}}</div>
        </div>
        </md-input-container>
      </div>

       <div layout-gt-sm="row">
        <md-input-container flex-gt-sm="">
          <label>{{'LABELS.EXPMONTH'|translate}}</label>
          <input required ng-model="inc.transaction.expmonth"  name="expmonth" ng-pattern="/^(0?[1-9]|1[012])$/">
          <div ng-messages="inc.paymentForm.expmonth.$error" ng-show="inc.paymentForm.expmonth.$touched" role="alert"  >
              <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
              <div ng-message="pattern">{{'LABELS.EXPMONTHM'|translate}}</div>
          </div>
        </md-input-container>

        <md-input-container flex-gt-sm="">
          <label>{{'LABELS.EXPYEAR'|translate}}</label>
          <input required ng-model="inc.transaction.expyear"   name="expyear" ng-pattern="/^[12][0-9]{3}$/" >
           <div ng-messages="inc.paymentForm.expyear.$error" ng-show="inc.paymentForm.expyear.$touched" role="alert" >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
          <div ng-message="pattern">{{'LABELS.EXPYEARM'|translate}}</div>
        </div>
        </md-input-container>
      </div>

     
       
       
<!-- ng-disabled="inc.paymentForm.$invalid" -->
    <section layout="row" layout-sm="column" layout-align="end end" layout-wrap="">
       <md-button class="md-raised md-primary"   ng-model="submit"
       ng-click="inc.showModalProgress($event); inc.generatingTransaction(inc.sending_transaction)"  ng-disabled="inc.paymentForm.$invalid" id='generate'> {{'LABELS.SUBPAYMENT'|translate}} </md-button>
        <!-- <md-button class="md-raised md-warn"> {{'LABELS.DECPAYMENT'|translate}} </md-button> -->
        
    </section>
    </form>
   
      
    <section   layout-sm="column" layout-align="center end" layout-wrap="">
        
      <md-button class="md-accent" ng-href="{{inc.returnUrl}}" > {{'LABELS.CANCELANDRETURN'|translate}}</md-button>
      
         
        
    </section>
  </md-content>
 
</div>

 