
<div  ng-controller="InputCtrl" layout="column" ng-cloak="" class="inputdemoErrors">
 <section layout="row" flex="">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">{{'LABELS.ORDERTOTAL'|translate}}   <span flex=""></span> {{ payment.value |  currency }} </h1>
      </md-toolbar>
      <md-content layout-padding=""> 
          <h1>{{'LABELS.ORDERSUMMARY'|translate}}</h1>
        <p hide-md="" show-gt-md="" translate>
            
           {{'LABELS.ORDERSUMMARYTEXT'|translate}}
           
        </p>
         <img ng-src="./assets/images/insurance-app/paymentimage.jpg" class="md-card-image" alt="Washed Out">
        <p hide-md="" show-gt-md="" >
            <img ng-src="./assets/images/angular-material/icons/ic_person_24px.svg" class="md-card-image" alt="Washed Out"> {{'LABELS.BUYERPROTECTION'|translate}}  Coa{{'LABELS.PAYMENT'|translate}}</p>
      </md-content>

    </md-sidenav>
   
  <md-content layout-padding="">
   <form name="paymentForm">
      <h1>{{'LABELS.PAYWITHCARD'|translate}} </h1>

    <md-input-container class="md-block"> 
      <label>{{'LABELS.CARDHOLDERNAME'|translate}} </label>
      <input required name="cardholderName" ng-model="payment.cardholderName" >
       <div ng-messages="paymentForm.cardholderName.$error"  >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
        </div>
    </md-input-container>

<!--   -->
    <md-input-container>
      <label> {{'LABELS.CARDHOLDERLASTNAME'|translate}}  </label>
      <input  required  ng-model="payment.cardholderLastname"  name="cardholderName" >
      
       <div ng-messages="paymentForm.cardholderLastname.$error" >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
         
        </div>
    </md-input-container>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{'LABELS.CARDTYPE'|translate}}</label>
          <input  required ng-model="payment.cardtype">
           <div ng-messages="paymentForm.cardtype.$error" >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
         
        </div>
        </md-input-container>
        
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{'LABELS.CARDNUM'|translate}}</label>
          <input ng-model="payment.cardnum" type="number" min="0" required md-minlength="8" name="cardnum">
          <div ng-messages="paymentForm.cardnum.$error" role="alert">
            <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
            <div ng-message="md-minlength">Card number has to be at lest 8 num long.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>{{'LABELS.SECCODE'|translate}}</label>
          <input ng-model="payment.seccode" type="number" min="0"  md-minlength="4" name="seccode" required >
            <div ng-messages="paymentForm.seccode.$error"  >
              <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
              <div ng-message="md-minlength">Seccode has to be at lest 4 num long.</div>
        </div>
        </md-input-container>
      </div>

       <div layout-gt-sm="row">
        <md-input-container flex-gt-sm="">
          <label>{{'LABELS.EXPMONTH'|translate}}</label>
          <input required ng-model="payment.expmonth"  type="number" min="0"  md-minlength="2" name="expmonth">
          <div ng-messages="paymentForm.expmonth.$error"  role="alert"  >
              <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
              <div ng-message="md-minlength">expmonth has to be at lest 2 num long.</div>
          </div>
        </md-input-container>

        <md-input-container flex-gt-sm="">
          <label>{{'LABELS.EXPYEAR'|translate}}</label>
          <input required ng-model="payment.expyear"   type="number" min="0"   md-minlength="2" name="expyear"  >
           <div ng-messages="paymentForm.expyear.$error" role="alert" >
          <div ng-message="required">{{'LABELS.REQUIRED'|translate}}</div>
          <div ng-message="md-minlength">expyear has to be at lest 2 num long.</div>
        </div>
        </md-input-container>
      </div>

     
       
       

    <section layout="row" layout-sm="column" layout-align="end end" layout-wrap="">
       <md-button class="md-raised md-primary"> {{'LABELS.SUBPAYMENT'|translate}} </md-button>
        <md-button class="md-raised md-warn"> {{'LABELS.DECPAYMENT'|translate}} </md-button>
    </section>
    </form>
    <p translate> {{'LABELS.NOTE'|translate}} </p>
     
    <section   layout-sm="column" layout-align="center end" layout-wrap="">
        
      <md-button class="md-accent" > {{'LABELS.CANCELANDRETURN'|translate}}</md-button>
    </section>
  </md-content>
 
</div>

<style type="text/css"> 
.inputdemoBasicUsage .md-datepicker-button {
  width: 36px;
}
</style>