<md-dialog aria-label="Placeno"  ng-cloak ng-controller="ModalController as mc">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Success</h2>
        <span flex></span>
       
          <md-icon md-svg-src="/assets/images/angular-material/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
         Successfuly paid.
          

      </div>
    <md-dialog-actions layout="row">
      
      <span flex></span>
      <md-button ng-click="mc.answer('redirect')">
       Redirekcija na merchanta
      </md-button>
    
    </md-dialog-actions>
  </form>
</md-dialog>