<md-dialog aria-label="Placeno"  ng-cloak ng-controller="ModalController as mc">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Success</h2>
        <span flex></span>
       
          <md-icon md-svg-src="/assets/images/angular-material/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
         Successfuly paid.
          <div layout="row" >
            <span></span>
          <img style="margin: auto; max-width: 100%;" alt="success" src="/images/success.png">
        </div>
   

    <md-dialog-actions layout="row">
      
      <span flex></span>
      <md-button class="md-raised md-primary" ng-model="gotomerchant" ng-click="mc.answer('redirect')">
       Go to merchant
      </md-button>
    
    </md-dialog-actions>
     </div>
  </form>
</md-dialog>