<md-content class="md-padding" layout="row">
   <fieldset flex="30" style="border: 1px solid rgb(255, 98, 21)">
      <legend style="color:rgb(255, 98, 21)">
         <img ng-src="\assets\images\angular-material\icons\travel.png" alt="Washed Out">Putno
      </legend>
      <form name="calc.travelForm" id="travelForm" novalidate ng-submit="calc.calculateTravel()">
         <md-input-container layout="column" layout-align="left center">
            <label for="input_203">Trajanje u danima </label>
            <input name="duration" maxlength="4" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" type= "number" min="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="calc.insurance.travel.duration"  id="input_203" ng-required="true" aria-invalid="false">
            <div ng-messages="calc.travelForm.duration.$error" ng-show="calc.travelForm.duration.$touched || calc.invalidTravelForm">
               <div ng-message="required">Potrebno je da popunite ovo polje</div>
               <div ng-message="maxlength">Možete da unesete maksimalno četiri cifre</div>
            </div>
         </md-input-container>
         <md-input-container layout="column" layout-align="left center">
            <label>Region</label>
            <md-select id="region" name="region" ng-model="calc.insurance.travel.region_id" ng-required= "true" >
               <md-option ng-repeat="region in calc.data_init.regions" 
                  ng-value="{{region.id}}"> {{region.name}} </md-option>
            </md-select>
            <div ng-messages="calc.travelForm.region.$error" ng-show="calc.travelForm.region.$touched || calc.invalidTravelForm">
               <div ng-message="required">Potrebno je da izaberete jednu od opcija</div>
            </div>
         </md-input-container>
         </br>

         <fieldset flex="100" style="border: 1px dotted rgb(255, 98, 21)">
            <legend style="color:rgb(255, 98, 21)">Broj putnika</legend>
         <md-input-container layout="column" layout-align="left center">
            <label>Do 18 god</label>
            <input name="age1" maxlength="4" type="number" min="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
               ng-model="calc.age_number.number18" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" >

             <div ng-messages="calc.travelForm.age1.$error" ng-show="calc.travelForm.age1.$touched || calc.invalidTravelForm">
               <div ng-message="maxlength">Možete da unesete maksimalno četiri cifre</div>
            </div>
            
         </md-input-container>
         <md-input-container layout="column" layout-align="left center">
            <label>Od 18 do 60 god</label>
            <input  name= "age2" maxlength="4" type="number" min="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="calc.age_number.number18_60" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" >

            <div ng-messages="calc.travelForm.age2.$error" ng-show="calc.travelForm.age2.$touched || calc.invalidTravelForm">
               <div ng-message="maxlength">Možete da unesete maksimalno četiri cifre</div>
            </div>
           
         </md-input-container>
         <md-input-container layout="column" layout-align="left center">
            <label>Preko 60 godina</label> 
            <input name="age3" maxlength="4" type="number" min="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
               ng-model="calc.age_number.number60" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" >

            <div ng-messages="calc.travelForm.age3.$error" ng-show="calc.travelForm.age2.$touched || calc.invalidTravelForm">
               <div ng-message="maxlength">Možete da unesete maksimalno četiri cifre</div>
            </div>
            
         </md-input-container>

         </fieldset>

         <div style="font-size: 12px; color: rgb(244,67,54); font-family: Roboto, 'Helvetica Neue' sans-serif;" ng-show="calc.invalidTravelForm && !calc.age_number.number18_60 && !calc.age_number.number18 && !calc.age_number.number60">
               Potrebno je da popunite najmanje jedno polje o brojnosti putnika
         </div>


         <md-input-container layout="column" layout-align="left center">
            <label>Max. iznos osiguranja</label>
            <md-select name="max_value" ng-model="calc.insurance.travel.max_value_id" ng-required= "true" >
               <md-option ng-repeat="max_value in calc.data_init.max_values" 
                  ng-value="{{max_value.id}}"> {{max_value.name}} </md-option>
            </md-select>
            <div ng-messages="calc.travelForm.max_value.$error" ng-show="calc.travelForm.max_value.$touched || calc.invalidTravelForm">
               <div ng-message="required">Potrebno je da izaberete jednu od opcija</div>
            </div>
         </md-input-container>
         <div flex="60">
            <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="activity">
               Bavljenje sportom
            </md-checkbox>
            <md-tooltip md-direction="right">
               Da li ćete se baviti sportom?
            </md-tooltip>
         </div>
         <md-input-container layout="column" layout-align="left center" ng-show="activity = !activity">
            <label>Sport</label>
            <md-select name="sport" ng-model="calc.insurance.travel.sport_id" ng-required= "activity"  >
               <md-option ng-repeat="sport in calc.data_init.sports" 
                  ng-value="{{sport.id}}"> {{sport.name}} </md-option>
            </md-select>
            <div ng-messages="calc.travelForm.sport.$error" ng-show="calc.travelForm.sport.$touched || calc.invalidTravelForm">
               <div ng-message="required">Potrebno je da izaberete jednu od opcija</div>
            </div>
         </md-input-container>
         <fieldset flex="100" style="border: 1px dotted rgb(3,169,244)">
            <legend style="color:rgb(3,169,244)">Dodatno</legend>
            <div>
               <div flex="40">
                  <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="calc.flat">
                     Stambeno
                  </md-checkbox>
                  <md-tooltip md-direction="right">
                     Da li želite i osiguranje stana/kuće dok ste na putu?
                  </md-tooltip>
               </div>
               <div flex="35">
                  <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="calc.car">
                     Auto
                  </md-checkbox>
                  <md-tooltip md-direction="right">
                     Da li želite i osiguranje "Pomoć na putu" dok ste na putu?
                  </md-tooltip>
               </div>
            </div>
         </fieldset>

         
      
      </form>
   </fieldset>
   <div flex-offset="10" layout="row" layout-align="center center" ng-show="!calc.flat && !calc.car">
      <img ng-src="./assets/images/insurance-app/dolarBlue.jpg" width="500" height="400" class="md-card-image" alt="Washed Out">
   </div>
   <div flex="2" style="border: 1px rgb(255, 98, 21)" layout="row" layout-align="center center" ng-show="calc.flat = !calc.flat">
      <md-icon md-svg-icon="./assets/images/angular-material/icons/add182.svg" style="color:rgb(255, 98, 21)" aria-label="Plus"></md-icon>
   </div>
   <fieldset flex="30" style="border: 1px solid rgb(255, 98, 21)" ng-show="calc.flat = !calc.flat">
      <legend style="color:rgb(255, 98, 21)">
         <md-icon md-svg-icon="./assets/images/angular-material/icons/home.svg" style="color:rgb(255, 98, 21)" aria-label="Home"></md-icon>
         Stambeno
      </legend>
      <form id="homeForm" name="calc.homeForm" ng-submit="calc.calculateHome()" novalidate>
         <md-input-container layout="column" layout-align="left center">
            <label for="input_203">Trajanje u danima</label>
            <input type="number" maxlength="4" min= "1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
               name="duration" ng-model="calc.insurance.home.duration" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched"  aria-invalid="false" flex="10" ng-required="calc.flat">
            <div ng-messages="calc.homeForm.duration.$error" ng-show="calc.homeForm.duration.$touched || calc.invalidHomeForm">
               <div ng-message="required">Potrebno je da popunite ovo polje.</div>

            </div>
         </md-input-container>
         <md-input-container layout="column" layout-align="left center">
            <label for="input_203">Površina stana [m2]</label>
            
               <input name="floor_area" ng-model="calc.insurance.home.floor_area" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10"  ng-pattern="/^\d+(.\d{1,2}){0,1}$/" ng-required="calc.flat">

            <div ng-messages="calc.homeForm.floor_area.$error" ng-show="calc.homeForm.floor_area.$touched || calc.invalidHomeForm">
               <div ng-message="required">Potrebno je da popunite ovo polje.</div>
               <div ng-message="pattern">Niste upisali validan broj.</div>
            </div>
         </md-input-container>
         <md-input-container layout="column" layout-align="left center">
            <label for="input_203">Starost stana [godina]</label>
            <input name="flat_age" ng-model="calc.insurance.home.flat_age" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10"  ng-pattern="/^\d+(.\d{1,2}){0,1}$/" ng-required="calc.flat">
            <div ng-messages="calc.homeForm.flat_age.$error" ng-show="homeForm.flat_age.$touched || calc.invalidHomeForm">
               <div ng-message="required">Potrebno je da popunite ovo polje.</div>
               <div ng-message="pattern">Niste upisali validan broj.</div>
            </div>
         </md-input-container>
         <md-input-container layout="column" layout-align="left center">
            <label for="input_203">Procenjena vrednost [EUR]</label>
            <input name="est_value" ng-model="calc.insurance.home.est_value" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10"  ng-pattern="/^\d+(.\d{1,2}){0,1}$/"
               ng-required="calc.flat" >
            <div ng-messages="calc.homeForm.est_value.$error" ng-show="calc.homeForm.est_value.$touched || calc.invalidHomeForm">
               <div ng-message="required">Potrebno je da popunite ovo polje.</div>
               <div ng-message="pattern">Niste upisali validan broj.</div>
            </div>
         </md-input-container>
         </br>
         <div>
            <label>Izaberite od čega osiguravate stan/kuću:</label>
               <md-input-container>
                  <span ng-repeat="cause in calc.data_init.casualties" >
                     <md-checkbox id="casualty" name="casualty" ng-model="calc.selectedCause[cause.id]" ng-value="{{cause.id}}" aria-label="Checkbox 1" class="md-primary"  ng-required="!calc.someSelected(calc.selectedCause)">
                        {{cause.name}}
                     </md-checkbox>
                  </span>
                  <div ng-messages="calc.homeForm.casualty.$error" ng-show="calc.invalidHomeForm">
                           <div ng-message="required">Potrebno je da izaberete jedan ili više uzroka osiguranja.</div>   
                  </div>
               </md-input-container>
         </div>
      </form>

   </fieldset>
   <div flex="2" style="border: 1px rgb(255, 98, 21)" layout="row" layout-align="center center" ng-show="calc.car = !calc.car">
      <md-icon md-svg-icon="./assets/images/angular-material/icons/add182.svg" style="color:rgb(255, 98, 21)" aria-label="Plus"></md-icon>
   </div>
   <fieldset flex="30" style="border: 1px solid rgb(255, 98, 21)" ng-show="calc.car = !calc.car">
      <legend style="color:rgb(255, 98, 21)">
         <md-icon md-svg-icon="./assets/images/angular-material/icons/craner.svg" height="24" width="24" style="color:rgb(255, 98, 21)" aria-label="Travel"></md-icon>
         Auto
      </legend>
      <form id="vehicleForm" name="calc.vehicleForm" ng-submit="calc.calculateVehicle()"  novalidate>
         <md-input-container layout="column" layout-align="left center">
            <label for="input_203">Trajanje u danima</label>
            <input name="duration" maxlength="4" type="number" min="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="calc.insurance.vehicle.duration" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false" flex="10" ng-required="calc.car">
             <div ng-messages="calc.vehicleForm.duration.$error" ng-show="calc.vehicleForm.duration.$touched || calc.invalidVehicleForm">
               <div ng-message="required">Potrebno je da popunite ovo polje.</div>
               <div ng-message="maxlength">Možete da unesete maksimalno četiri cifre</div>
            </div>
         </md-input-container>
         <div>


        
            <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="calc.towing">
               Šlepovanje do određene kilometraže
            </md-checkbox>
            <md-tooltip md-direction="top">
               Odabirom ove stavke uključujete u osiguranje i šlepovanje do izabrane kilometraže.
            </md-tooltip>
         </div>
         <md-input-container layout="column" layout-align="left center" ng-show="calc.towing = !calc.towing" >
            <label>Šlepovanje:</label>
            <md-select name="towing" ng-model="calc.insurance.vehicle.towing_id" ng-required="calc.towing">
               <md-option ng-repeat="towing in calc.data_init.towing" 
                  ng-value="{{towing.id}}"> {{towing.name}} </md-option>
            </md-select>
             <div ng-messages="calc.vehicleForm.towing.$error" ng-show="calc.vehicleForm.towing.$touched || (calc.invalidVehicleForm && calc.validTowing)">
               <div ng-message="required">Potrebno je da popunite ovo polje.</div>
            </div>
         </md-input-container>
         <div>
            <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="calc.repair">
               Popravka do određene cene
            </md-checkbox>
            <md-tooltip md-direction="top">
               Odabirom ove stavke uključujete u osiguranje i popravku do izabranog iznosa.
            </md-tooltip>
         </div>
         <md-input-container layout="column" layout-align="left center" ng-show="calc.repair = !calc.repair">
            <label>Popravka:</label>
            <md-select name="repair" ng-model="calc.insurance.vehicle.repair_id" ng-required="calc.repair">
               <md-option ng-repeat="repair in calc.data_init.repair" 
                  ng-value="{{repair.id}}"> {{repair.name}} </md-option>
            </md-select>
             <div ng-messages="calc.vehicleForm.repair.$error" ng-show="calc.vehicleForm.repair.$touched || calc.invalidVehicleForm && calc.validRepair">
               <div ng-message="required">Potrebno je da popunite ovo polje.</div>
            </div>
         </md-input-container>
        

         <div>
            <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="calc.accommodation">
               Smeštaj u hotelu do određenog broja dana
            </md-checkbox>
            <md-tooltip md-direction="top">
               Odabirom ove stavke uključujete u osiguranje i smeštaj u trajanju do izabranog broja dana.
            </md-tooltip>
         </div>
         <md-input-container layout="column" layout-align="left center" ng-show="calc.accommodation = !calc.accommodation">
            <label>Smeštaj:</label>
            <md-select name="accommodation" ng-model="calc.insurance.vehicle.accomodation_id" ng-required="calc.accommodation">
               <md-option ng-repeat="accommodation in calc.data_init.accomodation" 
                  ng-value="{{accommodation.id}}"> {{accommodation.name}} </md-option>
            </md-select>
            <div ng-messages="calc.vehicleForm.accommodation.$error" ng-show="calc.vehicleForm.accommodation.$touched || calc.invalidVehicleForm && calc.validAccommodation">
               <div ng-message="required">Potrebno je da izaberete jednu od opcija</div>
            </div>
         </md-input-container>
         <div>
            <md-checkbox aria-label="Checkbox 1" class="md-primary" ng-model="calc.alternative">
               Alternativni prevoz
            </md-checkbox>
            <md-tooltip md-direction="top">
               Odabirom ove stavke uključujete u osiguranje i željeni alternativni prevoz u slučaju nezgode na putu.
            </md-tooltip>
         </div>
         <md-input-container layout="column" layout-align="left center" ng-show="calc.alternative = !calc.alternative">
            <label> Alternativni prevoz:</label>
            <md-select name="alternative" ng-model="calc.insurance.vehicle.alternative_id" ng-required="calc.alternative">
               <md-option ng-repeat="alternative in calc.data_init.alternative" 
                  ng-value="{{alternative.id}}"> {{alternative.name}} </md-option>
            </md-select>
            <div ng-messages="calc.vehicleForm.alternative.$error" ng-show="calc.vehicleForm.alternative.$touched || calc.invalidVehicleForm && calc.validAlternative">
               <div ng-message="required">Potrebno je da izaberete jednu od opcija</div>
            </div>
         </md-input-container>


         <div style="font-size: 12px; color: rgb(244,67,54); font-family: Roboto, 'Helvetica Neue' sans-serif;" ng-show="!calc.towing  && !calc.repair && !calc.accommodation && !calc.alternative && calc.invalidVehicleForm">
               Potrebno je da izaberete bar jednu od stavki.
         </div>
          
      </form>
   </fieldset>
</md-content>
<md-content flex="110" class="md-padding" layout="row" layout-align="none start">
   
   <div  flex="5" > </div>
   <div flex="30" layout="row" >
      
         <md-button id="calculateTravel" type="submit" form="travelForm" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);" >Izračunaj</md-button>
         <md-button id="resetTravel" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);"
         ng-click="calc.resetTravel()" >Reset</md-button>
     
   </div>
   <div  flex="5" ng-show="calc.flat = !calc.flat"> </div>
   <div  flex="25" layout="row" ng-show="calc.flat = !calc.flat">
     
         <md-button id="calculateHome" type="submit" form="homeForm" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Izračunaj</md-button>
         <md-button id="resetHome" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);" ng-click="calc.resetHome()">Reset</md-button>
     
   </div>
   <div  flex="5" ng-show="calc.car = !calc.car"> </div>
   <div  flex="28" layout="row"  ng-show="calc.car = !calc.car">
     
         <md-button id="calculateVehicle" type="submit" form="vehicleForm" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Izračunaj</md-button>
         <md-button id="resetVehicle" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);" ng-click="calc.resetVehicle()">Reset</md-button>
      
   </div>
</md-content>
<md-divider></md-divider>
<md-content class="md-padding" layout="row">
   <div flex="30" layout="row" layout-align="center start" >
      <md-chips>
         <md-chip id="travel_price">= {{calc.price.travel_price}} EUR</md-chip>
      </md-chips>
   </div>
   <div flex="35" layout="row" layout-align="center start" ng-show="calc.flat = !calc.flat">
      <div flex-offset="15">
         <md-chips>
            <md-chip id="home_price">= {{calc.price.home_price}} EUR</md-chip>
         </md-chips>
      </div>
   </div>
   <div flex="35" layout="row" layout-align="center start" ng-show="calc.car = !calc.car">
      <div flex-offset="5" >
         <md-chips>
            <md-chip>= {{calc.price.vehicle_price}} EUR</md-chip>
         </md-chips>
      </div>
   </div>
</md-content>

<div layout="row" layout-align="center center" ng-show="(calc.flat || calc.car)">
   <md-chips>
      <md-chip>Ukupno = {{calc.price.travel_price + calc.price.home_price + calc.price.vehicle_price | number:2}} EUR </md-chip>
      
   </md-chips>
</div>
<md-divider></md-divider>
<div flex-offset="75" layout-gt-sm="row" layout-align="center center" >

      <md-button id="sale" class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);" ng-click="calc.sale()">Kupite osiguranje 
      <md-icon md-svg-icon="./assets/images/angular-material/icons/share-arrow.svg" style="color:rgb(3,169,244)" aria-label="Plus"></md-icon>
   </md-button>
   
</div>

<style>
   md-chips.md-default-theme,
   md-chips .md-chip {
   background: rgb(169, 230, 230);
   color: rgb(0, 0, 0);
   }
</style>
