
<md-content class="md-padding">
	<h2>Coa Payment   </h2>
	<p>
		This is the sample project which you will be working on during this excercise.<br/>
		This web application represents a registry which tracks companies and their employees.<br/>
		The basic functionality this application offers is to list all the companies, employees and places, add new companies, employees or places as well as edit or remove existing ones.<br/>
		In order to fill the database follow the instructions in seed.txt in the root of this folder.
	</p>
</md-content>