 <md-toolbar layout="row" class="md-whiteframe-z2">
  <div class="md-toolbar-tools">
  	 <md-button class="md-icon-button"  >
          <md-icon md-svg-icon="/assets/images/angular-material/icons/android.svg"></md-icon>
        </md-button>
        <h2>
          <span><md-button>Coa Payment </md-button></span>
        </h2>
         <span flex=""></span>
         <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="/assets/images/angular-material/icons/more_vert.svg"></md-icon>
        </md-button>
   </div>
</md-toolbar>
