<md-content class="md-padding"><h1> {{'LABELS.PLATFORM'|translate}}</h1>  
<div ng-controller="HomeController" div class="home" ng-cloak="">
<md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start">
    <div flex="50" layout="column">
      <md-card>
        <img ng-src="./images/payment.svg" class="md-card-image" alt="Washed Out" onerror="this.src='./images/payment1.jpg'">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">  {{'LABELS.ACTIONBUT'|translate}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
             
            {{'LABELS.PLATFORM'|translate}}
          </p>
          <p> 
             {{'LABELS.DISCOVER'|translate}}
          </p>
          
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-fab"      aria-label="Eat cake">
            <md-icon  md-svg-src="/assets/images/angular-material/icons/cake.svg"></md-icon>
        </md-button>
         <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
            <md-icon md-svg-src="/assets/images/angular-material/icons/ic_people_24px.svg"></md-icon>
        </md-button>

        </md-card-actions>
      </md-card>
      <md-card>
        <img ng-src="./images/payment1.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button aria-label="button1"></md-button>
          <md-button aria-label="button2"></md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex="50" layout="column">
       <!-- --asdas -->
      <md-card>
        <img ng-src="./images/business.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{'LABELS.PARTNER'|translate}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
             {{'LABELS.SECURITY'|translate}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="/assets/images/angular-material/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/assets/images/angular-material/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="/assets/images/angular-material/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

     <!-- --asdas -->
      <md-card>
        <img ng-src="./images/payment3.jpg" class="md-card-image" alt="Washed Out">
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="/assets/images/angular-material/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/assets/images/angular-material/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="/assets/images/angular-material/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

      <md-card>
        <md-card-header>
          <md-card-avatar>
            <img src="./images/payment2.jpg">
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title"> {{'LABELS.PARTNER'|translate}}</span>
            <span class="md-subhead"> {{'LABELS.SECURITY'|translate}}</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="./images/paymentimage.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            
          </p>
        </md-card-content>
      </md-card>

    </div>
  </md-content>
 </div>

<!-- </md-content>